@import url('https://fonts.googleapis.com/css?family=Hachi+Maru+Pop&effect=neon');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    margin: auto;
    padding: 0;
    /* background-color:bisque; */
    overflow: hidden;
}

.body{
    overflow: hidden;
}

.infinite-scrolling{
    background-image: url('../images/b.jpeg'); 
    height: 3913px; 
    width: 1800px;
    animation: slide 30s linear infinite;
}

@keyframes slide {
  100% {
    transform: translate(0, 0);
  }
  0% {
    transform: translate(0, -782.6px); 
  }
}

.font-effect-neon{
    color: #f5e42a;
    animation: flicker 1.5s infinite alternate;
    text-align: center;
    padding: 30px 0;
    margin-top: 0;
    background: linear-gradient(to left, black, rgb(3, 18, 56));
    font-size: 54px;
    font-family: 'Hachi Maru Pop';
    letter-spacing: 2px;
    margin: auto;
}

@keyframes flicker{
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ccbe23,
        0 0 82px #ccbe23,
        0 0 92px #ccbe23,
        0 0 102px #ccbe23,
        0 0 151px #ccbe23;
    }
    20%, 24%, 55%{
        text-shadow: none;
    } 
}

img{
    height: 200px;
    margin: 20px 0;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.to-the-{
    color: #f5e42a;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100vh;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Hachi Maru Pop';
    background: linear-gradient(to left, black, rgb(3, 18, 56));
    transition: all 0.8s ease;
    border: 2px solid #f5e42a;
    border-radius: 10px;
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ccbe23,
        0 0 82px #ccbe23,
        0 0 92px #ccbe23,
        0 0 102px #ccbe23,
        0 0 151px #ccbe23;
}

.to-the-:hover{
    background: linear-gradient(to right, black, rgb(3, 18, 56));
    letter-spacing: 5px;
    transform: scale(1.1);
    /* font-size: 26px; */
    border: 3px solid #f5e42a;

}
